/* Navbar css */
.Main_logo{
    position: relative;
    right: 19.5rem;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.Navbar_Hamburger{
    display: none;
}



@media (min-width: 300px) and (max-width: 800px) { 
    .Navbar_Hamburger{
        display: block;
    }
    .Main_logo{
        left: -8rem;
    }
    .nav-items a{
        display: none;
    }
    .items{
        flex-wrap: wrap;
    }
   
 }


/* Hero-section */
.Hero-main{
    overflow-x: hidden;
    height: 84vh;
    background: url('https://www.tekdi.net/static/04954892ebf7f0cdbfb89e0bd062e41a/f2cbb/bg-home.jpg') no-repeat ;
    background-size: cover;
    background-position: center;
}

.Hero-para{
    position: relative;
    font-weight:450;
    top: 20rem;
    left: 10rem;
    line-height: 44px;
}


/* digital section */
.main-digital{
    background-color: #f1f1f1;
    margin-top: 5rem;
}
.main-digital p{
    color: #657798;
}
.digital-t{
    position: relative;
    top: 1rem;
    width: 70%;
    text-align: center;
}


.splide {
    width: 100%;
    margin: 0 auto;
   padding: 10px;
   position: relative;
   bottom: 4rem;
   display: flex;
   flex-wrap: wrap;
  }
  
  .splide__slide img {
    width: 100%;
    height: auto;
  }
.splide__list li>div>div>img{
    margin-top: 100px;
    height:10rem;
    width: 10rem;
    cursor: pointer;
}
.sliderimg:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}
.view-more{
    width: 110px;
    color: #30d6d8;
    font-weight: 300;
    cursor: pointer;
}
.view-more:hover{
   border-bottom: 1px solid #30d6d8;
   transition: 0.3s;
}
  

/* Sucess story */
.main-story{
    height: 80vh;
}
.Item{
    background-color: #09225a;
    padding: 20px;
    height: 60vh;
    width: 50%;
    color: white;
    font-weight: 100;
    cursor: pointer;
    margin: 0.5px;
}
.Item >h3{
    margin-top: 30%;
    
}
.sucess-para{
    display: none;
}
.Item:hover{
    background-color: #72d5f2;
    transition: 0.5s;
    height: 80vh;
    .sucess-para{
        display: block;
    }
   
}


/* industry */
.industry-para{
    color: #657798;
}
.items h3{
    font-weight: 200;
}